<div class="card" style="width:50rem;margin-inline:auto">
  <div class="card-body" style="padding:36px 28px;">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name,   url: session_path(resource_name)) do |f| %>
      <div class="field form-group mb-2">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, class:"form-control" %>
      </div>
      <div class="field form-group mb-4">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>
      <div class="actions d-grid gap-3">
        <%= f.submit "Log in" , class:"btn btn-secondary"%>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
